|year|rank|company              |revenue|profit|
|:---|:---|:--------------------|:------|:-----|
|1955|229 |Norton               |135.0  |N.A.  |
|1955|291 |Schlitz Brewing      |100.0  |N.A.  |
|1955|295 |Pacific Vegetable Oil|97.9   |N.A.  |
|1955|297 |Liebmann Breweries   |96.0   |N.A.  |
|1955|353 |Minneapolis-Moline   |77.4   |N.A.  |

In [5]:
%%html
<style>
table {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 5px;
}
</style>
<table>
  <tr>
    <th style="text-align:left">year</th>
    <th style="text-align:left">rank</th>
    <th style="text-align:left">company</th>
    <th style="text-align:left">revenue</th>
    <th style="text-align:left">profit</th>
  </tr>
  <tr>
    <td style="text-align:left">1955</td>
    <td style="text-align:left">229</td>
    <td style="text-align:left">Norton</td>
    <td style="text-align:left">135.0</td>
    <td style="text-align:left">N.A.</td>
  </tr>
  <tr>
    <td style="text-align:left">1955</td>
    <td style="text-align:left">291</td>
    <td style="text-align:left">Schlitz Brewing</td>
    <td style="text-align:left">100.0</td>
    <td style="text-align:left">N.A.</td>
  </tr>
  <tr>
    <td style="text-align:left">1955</td>
    <td style="text-align:left">295</td>
    <td style="text-align:left">Pacific Vegetable Oil</td>
    <td style="text-align:left">97.9</td>
    <td style="text-align:left">N.A.</td>
  </tr>
  <tr>
    <td style="text-align:left">1955</td>
    <td style="text-align:left">297</td>
    <td style="text-align:left">Liebmann Breweries</td>
    <td style="text-align:left">96.0</td>
    <td style="text-align:left">N.A.</td>
  </tr>
  <tr>
    <td style="text-align:left">1955</td>
    <td style="text-align:left">353</td>
    <td style="text-align:left">Minneapolis-Moline</td>
    <td style="text-align:left">77.4</td>
    <td style="text-align:left">N.A.</td>
  </tr>
</table>

In [1]:
import random
import time
from random_words import RandomWords

#створюэмо списки
int_list = [random.randint(0, 1000) for i in range(5000)]
float_list = [random.uniform(0.1, 100.0) for i in range(5000)]
rw = RandomWords()
str_list = rw.random_words(count=5000)

#створюжмо функцію сортування (сортування вставками)
def insertion_sort(list):
    #count = 0
    for i in range(1, len(list)):
        for j in range(i,0,-1):
            if list[j] < list[j-1]:
                list[j], list[j-1] = list[j-1], list[j]
                #count +=1
            else:
                break
    return list

In [2]:
%%timeit
insertion_sort(int_list)

818 µs ± 37.3 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [3]:
%%timeit
insertion_sort(float_list)

837 µs ± 78.3 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [4]:
%%timeit
insertion_sort(str_list)

890 µs ± 8.79 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)